soozan.info {
    reverse_proxy wordpress:80
}

storage.soozan.info {
  reverse_proxy http://minio:9000
}

admin.storage.soozan.info {
  reverse_proxy http://minio:9001
}

notif.soozan.info {
  reverse_proxy http://notifier:8080
}